#chart-options {
    background-color: #ffffff;
    padding: 20px;
}

#chart-option .options,
#chart-option .periods {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#chart-option .periods h4 { display: inline-block;}

.options ul,
.periods ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    list-style: none;
}
.options ul li,
.periods ul li {
    color: #242424;
    margin: 10px;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #242424;
    border-radius: 25px;
    cursor: pointer;
}

.options ul li:hover,
.periods ul li:hover {
    color: #fff;
    background-color: #242424;
}

.options ul li.ativo,
.periods ul li.ativo {
    color: #fff;
    background-color: #242424;
}

.options ul li.desativado,
.periods ul li.desativado {
    color: #f8f8f8;
    background-color: #dadada;
    border: 1px solid #d8d8d8;
    cursor: default;
}

.options ul li.desativado:hover,
.periods ul li.desativado:hover {
    color: #f8f8f8;
    background-color: #dadada;
}

div#comPeriodo {
    display: block;
}

div#semPeriodo {
    display: block;
}


.grafico-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-top: 70px;
    margin-bottom: 30px;
}