#chart-options {
    background-color: #ffffff;
    padding: 20px;
}

#chart-option .options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.options ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    list-style: none;
}
.options ul li {
    color: #242424;
    margin: 10px;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #242424;
    border-radius: 25px;
    cursor: pointer;
}

.options ul li:active {
    color: #fff;
    background-color: #242424;
}