.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#header-pedidos {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header-pedidos a {
    width: 100%;
    max-width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    background: var(--primary-color);
    border-radius: 8px;
    text-decoration: none;
  
    display: flex;
    align-items: center;
    overflow: hidden;
}

#header-pedidos a strong {
    flex: 1;
    text-align: center;
    color: #fff;
  }

div.pedidos {
    padding-top: 20px;
    padding-left: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

div.pedidos ul.each-order {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #c8c8c8;
    width: 100%;

    list-style: none;
}

ul.each-order li.each-item {
    margin-left: 10px;
    margin-top: 5px;
}

div.pedidos span.stats-order {
    text-transform: uppercase;
}

div.pedidos div.courses {
    padding-top: 10px;
}



